body {
  background-attachment: fixed;
  background-image: url(surf.jpeg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.center-text {
  margin: auto;
  width: 300px;
  text-align: center;
}

h1 {
  color: blue;
  font-family: "Arial", sans-serif;
}

h2 {
  color: green;
}

h3 {
  color: purple;
}

h6 {
  background-color: black;
  color: white;
  font-size: 1.5em;
}

.projects-list-item {
  color: gray;
}

.skills-list-item {
  color: maroon;
}

#project-not-in-use {
  text-decoration: line-through;
}

p #wrong-spelling {
  text-decoration: underline;
}

/*thanks css-tricks.com! https://css-tricks.com/complete-guide-table-element*/
td, th {
  text-align: center;
}

.bordered-table td, .bordered-table th {
  border: 1px solid #999;
  padding: 0.5rem;
  text-align: left;
}

.bordered-table table {
  border-collapse: collapse;
}

#betamore-logo {
  /*padding: 10px 5px 3px 5px;*/
  padding: 50px;
  border: 1px solid #ff0000;
  margin: 10px 5px 3px 50px;
}

img.center-image  {
  display: block;
  margin: 0 auto;
}

